html{
    font-family:sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}
body{
    margin:0;
    line-height:1.6;
    font-weight:300;
    font-family:"Work Sans","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}
footer,header,nav,section{
    display:block
}
a{
    background-color:transparent
}
a:active,a:hover{
    outline:0
}
b{
    font-weight:700
}
h1{
    font-size:2em;
    margin:.67em 0
}
img{
    border:0
}
button,input{
    color:inherit;
    font:inherit;
    margin:0
}
button{
    overflow:visible
}
button{
    text-transform:none
}
button{
    -webkit-appearance:button;
    cursor:pointer
}
button::-moz-focus-inner,input::-moz-focus-inner{
    border:0;
    padding:0
}
input{
    line-height:normal
}
@charset "UTF-8";
.animated{
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}
.animated.infinite{
    -webkit-animation-iteration-count:infinite;
    animation-iteration-count:infinite
}
@-webkit-keyframes pulse{
     from{
         -webkit-transform:scale3d(1,1,1);
         transform:scale3d(1,1,1) 
    }
     50%{
         -webkit-transform:scale3d(1.05,1.05,1.05);
         transform:scale3d(1.05,1.05,1.05) 
    }
     to{
         -webkit-transform:scale3d(1,1,1);
         transform:scale3d(1,1,1) 
    }
}
@keyframes pulse{
     from{
         -webkit-transform:scale3d(1,1,1);
         transform:scale3d(1,1,1) 
    }
     50%{
         -webkit-transform:scale3d(1.05,1.05,1.05);
         transform:scale3d(1.05,1.05,1.05) 
    }
     to{
         -webkit-transform:scale3d(1,1,1);
         transform:scale3d(1,1,1) 
    }
}
.pulse{
    -webkit-animation-name:pulse;
    animation-name:pulse
}
@-webkit-keyframes fadeIn{
     from{
         opacity:0 
    }
     to{
         opacity:1 
    }
}
@keyframes fadeIn{
     from{
         opacity:0 
    }
     to{
         opacity:1 
    }
}
.fadeIn{
    -webkit-animation-name:fadeIn;
    animation-name:fadeIn
}
@charset "UTF-8";
.container{
    position:relative;
    width:100%;
    max-width:1300px;
    margin:0 auto;
    padding:0 20px;
    box-sizing:border-box
}
.columns{
    width:100%;
    float:left;
    box-sizing:border-box
}
.container{
    position:relative;
    width:100%;
    max-width:1300px;
    margin:0 auto;
    padding:0 20px;
    box-sizing:border-box
}
.columns{
    width:100%;
    float:left;
    box-sizing:border-box
}
@media (min-width:20em){
    .container{
        width:95%;
        padding:0
    }
}
@media (min-width:34.375em){
    .container{
        width:90%
    }
    .columns{
        margin-left:4%
    }
    .columns:first-child{
        margin-left:0
    }
    .six.columns{
        width:48%
    }
}
html{
    box-sizing:border-box;
}
*,*:before,*:after{
    box-sizing:inherit
}
html{
    font-size:62.5%
}
body{
}
@media (min-width:46.25em) and (max-width:61.24em){
    body{
        font-size:1.6rem
    }
}
@media (min-width:20em) and (max-width:46.24em){
    body{
    }
}
h1,h2,h4{
    margin-top:0;
    margin-bottom:2rem;
    font-weight:100;
    font-family:"Novacento Sans Wide","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}
h1{
    font-size:3rem;
    line-height:1.2;
    letter-spacing:-.1rem
}
h2{
    font-size:2.5rem;
    line-height:1.25;
    letter-spacing:-.1rem
}
h4{
    font-size:2rem;
    line-height:1.35;
    letter-spacing:-.08rem
}
@media (min-width:34.375em){
    h1{
        font-size:5rem
    }
    h2{
        font-size:4.2rem
    }
    h4{
        font-size:3rem
    }
}
b{
    font-weight:500
}
p{
    margin-top:0
}
a{
    color:#fff;
    text-decoration:none
}
a:hover{
    color:#00a9db
}
.button,button{
    display:inline-block;
    height:38px;
    padding:0 30px;
    color:#d8d8d8;
    text-align:center;
    font-size:11px;
    font-weight:600;
    line-height:38px;
    letter-spacing:.1rem;
    text-transform:uppercase;
    text-decoration:none;
    white-space:nowrap;
    background-color:transparent;
    border-radius:2px;
    border:1px solid #bbb;
    cursor:pointer;
    box-sizing:border-box
}
.button:hover,button:hover{
    color:#00bdf4;
    border-color:#00bdf4;
    outline:0
}
.button:focus,button:focus{
    color:#ca1a1a;
    border-color:#ca1a1a;
    outline:0
}
input[type="text"]{
    height:38px;
    padding:6px 10px;
    background-color:#fff;
    border:1px solid #d1d1d1;
    border-radius:2px;
    box-shadow:none;
    box-sizing:border-box
}
input[type="text"]{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none
}
input[type="text"]:focus{
    border:1px solid #33c3f0;
    outline:0
}
ul{
    margin-top:3rem;
    margin-bottom:3rem
}
button,.button{
    margin-bottom:1rem
}
input{
    margin-bottom:1.5rem
}
p,ul{
    margin-bottom:2.5rem
}
.container:after,.row:after{
    content:"";
    display:table;
    clear:both
}
body #sb-site{
    background:#190629
}
#color-divider{
    height:5px;
    background-color:#0ec1f6;
    background-image:-webkit-linear-gradient(-360deg,#0ec1f6,#8823de);
    background-image:linear-gradient(90deg,#0ec1f6,#8823de)
}
.revealOnScroll{
    opacity:0
}
.revealOnScroll.animated{
    opacity:1
}
.block{
    color:#fff
}
.block div{
    position:relative;
    top:50%;
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    transform:translateY(-50%)
}
.block a{
    margin:0;
    margin-top:-20px
}
.block.blue{
    background:#0ebcf3
}
.block.green{
    background:#29baa5
}
.block.purple{
    background:#844ba1
}
.container,.row{
    position:relative;
    z-index:1
}
.blue{
    background-color:#0ebcf3!important
}
.purple{
    background-color:#844ba1!important
}
.green{
    background-color:#29baa5!important
}
img{
    max-width:100%;
    border:0
}
h1{
    font-size:6rem;
    text-transform:uppercase;
    color:rgba(255,255,255,.7)
}
@media (min-width:46.25em) and (max-width:61.24em){
    h1{
        font-size:5rem;
        margin:3rem 0 5rem
    }
}
@media (min-width:20em) and (max-width:46.24em){
    h1{
        font-size:3.2rem;
        margin:2rem 0 4rem
    }
}
.bigger p{
    font-size:2.5rem;
    font-weight:200
}
@media (min-width:46.25em) and (max-width:61.24em){
    .bigger p{
        font-size:2.2rem
    }
}
@media (min-width:20em) and (max-width:46.24em){
    .bigger p{
        font-size:2rem
    }
}
.padding{
    padding:5rem 0
}
@media (min-width:20em) and (max-width:46.24em){
    .padding{
        padding:4rem 0
    }
}
.padding.more{
    padding:5rem 8rem
}
@media (min-width:20em) and (max-width:46.24em){
    .padding.more{
        padding:4rem 3rem
    }
}
.right{
    text-align:right
}
.left{
    text-align:left
}
.center{
    text-align:center
}
header ul{
    margin:0;
    padding:0
}
header ul li{
    margin:0;
    padding:0;
    display:inline-block
}
header a{
    color:#0ebcf3
}
header .row{
    height:100px;
    position:relative
}
header #grav-logo{
    width:140px;
    float:left;
    margin-top:2%
}
header #menu{
    position:relative;
    text-align:left;
    margin:0 156px;
    top:34px
}
@media (min-width:20em) and (max-width:61.24em){
    header #menu{
        display:none
    }
}
header .social-wrapper{
    position:absolute;
    right:0;
    top:29px;
    font-size:2.3rem
}
@media (min-width:20em) and (max-width:61.24em){
    header .social-wrapper{
        display:none
    }
}
header .social-wrapper li{
    padding:0;
    position:relative;
    margin-left:-5px
}
@media (min-width:81.25em){
    header .social-wrapper li{
        padding:0 1.5rem
    }
}
header .social-wrapper i{
    color:#fff
}
.social-wrapper li{
    position:relative
}
.social-wrapper .count{
    color:rgba(255,255,255,.5);
    position:absolute;
    top:37px;
    left:50%;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    -o-transform:translateX(-50%);
    transform:translateX(-50%);
    font-size:13px
}
#overlay-wrapper{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    overflow:hidden
}
.overlay-nav{
    position:absolute;
    top:0;
    right:0;
    left:0;
    margin:100px;
    z-index:0;
    display:block;
    opacity:0;
    -webkit-transition:opacity .5s ease;
    -moz-transition:opacity .5s ease;
    transition:opacity .5s ease
}
.overlay-nav ul.navigation{
    font-size:4rem;
    list-style:none;
    line-height:1.8
}
.overlay-nav .social-buttons{
    -webkit-transform-origin:3% 50%;
    -moz-transform-origin:3% 50%;
    -ms-transform-origin:3% 50%;
    -o-transform-origin:3% 50%;
    transform-origin:3% 50%;
    -webkit-transform:scale(3);
    -moz-transform:scale(3);
    -ms-transform:scale(3);
    -o-transform:scale(3);
    transform:scale(3);
    margin-top:50px;
    padding-left:23px
}
.overlay-nav .social-buttons li{
    display:inline-block
}
@media (min-width:34.375em) and (max-width:61.24em){
    .overlay-nav{
        margin:40px 75px
    }
    .overlay-nav ul.navigation{
        font-size:3rem
    }
    .overlay-nav .social-buttons{
        -webkit-transform:scale(2.3);
        -moz-transform:scale(2.3);
        -ms-transform:scale(2.3);
        -o-transform:scale(2.3);
        transform:scale(2.3)
    }
}
@media (min-width:20em) and (max-width:34.365em){
    .overlay-nav{
        margin:30px 25px
    }
    .overlay-nav ul.navigation{
        font-size:2rem
    }
    .overlay-nav .social-buttons{
        -webkit-transform:scale(1.3);
        -moz-transform:scale(1.3);
        -ms-transform:scale(1.3);
        -o-transform:scale(1.3);
        transform:scale(1.3)
    }
}
.nav-toggle{
    width:60px;
    height:60px;
    z-index:1001;
    border-radius:50%;
    position:absolute;
    top:20px;
    right:40px;
    cursor:pointer;
    box-shadow:0 3px 0 fade(black,20%);
    -webkit-transition-duration:.66s;
    -moz-transition-duration:.66s;
    transition-duration:.66s;
    -webkit-transition-timing-function:swing;
    -moz-transition-timing-function:swing;
    transition-timing-function:swing;
    display:none
}
@media (min-width:20em) and (max-width:34.365em){
    .nav-toggle{
        position:absolute;
        top:20px;
        right:15px
    }
}
@media (min-width:20em) and (max-width:61.24em){
    .nav-toggle{
        display:block
    }
}
.nav-toggle:before{
    width:60px;
    height:60px;
    border-radius:50%;
    background-color:#29baa5;
    content:"";
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translateX(-50%) translateY(-50%);
    -moz-transform:translateX(-50%) translateY(-50%);
    -ms-transform:translateX(-50%) translateY(-50%);
    -o-transform:translateX(-50%) translateY(-50%);
    transform:translateX(-50%) translateY(-50%);
    -webkit-transition-duration:.66s;
    -moz-transition-duration:.66s;
    transition-duration:.66s;
    -webkit-transition-timing-function:swing;
    -moz-transition-timing-function:swing;
    transition-timing-function:swing
}
.nav-toggle .icon{
    width:30px;
    height:4px;
    background-color:#fff;
    border-radius:2px;
    position:absolute;
    top:28px;
    left:15px;
    -webkit-transition-duration:.5s;
    -moz-transition-duration:.5s;
    transition-duration:.5s;
    -webkit-transition-timing-function:swing;
    -moz-transition-timing-function:swing;
    transition-timing-function:swing
}
.nav-toggle .icon:before,.nav-toggle .icon:after{
    width:30px;
    height:4px;
    background-color:#fff;
    border-radius:2px;
    content:"";
    position:absolute;
    left:0;
    -webkit-transition-duration:.5s;
    -moz-transition-duration:.5s;
    transition-duration:.5s;
    -webkit-transition-timing-function:swing;
    -moz-transition-timing-function:swing;
    transition-timing-function:swing
}
.nav-toggle .icon:before{
    top:-9px
}
.nav-toggle .icon:after{
    top:9px
}
footer{
    position:relative;
    border-top:5px solid #0ebcf3;
    background:#190629;
    color:#977cad;
    font-size:1.5rem;
    text-align:center;
    font-weight:300
}
footer .padding{
    padding:5rem 0
}
footer p{
    margin-bottom:1rem
}
footer p i.fa{
    color:#fff;
    font-weight:inherit
}
footer ul{
    margin:0
}
footer .row{
    margin-bottom:3rem
}
#showcase{
    background:#190629;
    height:700px;
    position:relative;
    overflow:hidden
}
#showcase #stars-overlay{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    height:850px;
    background-color:rgba(25,6,41,0);
    background-image:-webkit-linear-gradient(rgba(25,6,41,0),#190629);
    background-image:linear-gradient(rgba(25,6,41,0),#190629)
}
#showcase #moon{
    position:absolute;
    left:10%;
    top:300px;
    width:150px;
    border-radius:50%
}
#showcase #gas-planet{
    position:absolute;
    right:-75px;
    top:250px;
    width:520px
}
#showcase #blue-planet-wrapper{
    position:absolute;
    right:0;
    bottom:0;
    left:0
}
#showcase #blue-planet{
    vertical-align:bottom;
    position:relative;
    left:50%;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    -o-transform:translateX(-50%);
    transform:translateX(-50%);
    min-width:900px;
    max-width:1200px;
    height:100%
}
#showcase #blue-planet-overlay{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    height:300px;
    background-color:rgba(25,6,41,0);
    background-image:-webkit-linear-gradient(rgba(25,6,41,0),#190629);
    background-image:linear-gradient(rgba(25,6,41,0),#190629)
}
@media (min-width:46.25em) and (max-width:61.24em){
    #showcase #moon{
        width:125px;
        left:5%
    }
    #showcase #gas-planet{
        width:450px;
        right:-125px
    }
}
@media (min-width:20em) and (max-width:46.24em){
    #showcase #moon{
        width:100px;
        left:5%
    }
    #showcase #gas-planet{
        width:400px;
        right:-150px
    }
}
#down-arrow{
    bottom:0
}
#down-arrow{
    position:absolute;
    text-align:center;
    left:0;
    right:0;
    font-size:5rem
}
#down-arrow a{
    position:relative;
    z-index:1;
    color:rgba(255,255,255,.8)
}
#showcase-content{
    position:absolute;
    top:25px;
    width:100%;
    text-align:center;
    color:#fff
}
#showcase-content .downloads{
    position:absolute;
    top: 140px;
    right:0;
    left:0;
}
#onpage-nav{
    background:#190629;
    position:absolute;
    top:700px;
    z-index:1000;
    height:69px;
    left:0;
    right:0;
    border-bottom:1px solid #340d55;
    box-shadow:0 2px 10px 4px rgba(0,0,0,.2)
}
#onpage-nav .container{
    position:relative;
    top:50%;
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    transform:translateY(-50%);
    text-align:center
}
#page-nav{
    display:inline-block;
    margin:0;
    padding:0
}
#page-nav li{
    margin:0;
    padding:0;
    display:inline-block
}
#body{
    padding-top:70px;
    background:#190629
}
.top-divider{
    height:5px
}
.top-divider .block{
    width:33%;
    float:left;
    height:5px
}
.top-divider .block:last-child{
    width:34%
}
.modular-section{
    position:relative;
    background:#190629;
    color:#977cad;
    text-align:center;
    padding-top:1rem
}
.modular-section h1{
    color:#fff;
    font-weight:100
}
@media (min-width:46.25em) and (max-width:61.24em){
    .modular-section h1{
        font-size:5rem;
        margin:3rem 0 2rem
    }
}
@media (min-width:20em) and (max-width:46.24em){
    .modular-section h1{
        font-size:3rem;
        margin:0 0 1.5rem
    }
}
#modular-choose{
    padding-top:1rem
}
#modular-choose .col{
    width:33.333%;
    float:left
}
#modular-choose .col:first-child .block{
    border-top-left-radius:6px;
    border-bottom-left-radius:6px
}
#modular-choose .col:last-child .block{
    border-top-right-radius:6px;
    border-bottom-right-radius:6px
}
#modular-choose .col p{
    margin:6rem 3rem 9rem;
    font-weight:300
}
#modular-choose .block{
    height:250px
}
#modular-choose .block span{
    margin-top:1rem;
    display:block;
    font-size:3rem
}
@media (min-width:46.25em) and (max-width:61.24em){
    #modular-choose .block{
        height:200px
    }
    #modular-choose .block span{
        font-size:2.5rem
    }
}
@media (min-width:20em) and (max-width:46.24em){
    #modular-choose .block{
        height:150px
    }
    #modular-choose .block span{
        font-size:1.8rem
    }
    #modular-choose .block+p{
        margin:4rem 1rem 4rem
    }
}
#modular-limitless .top-divider{
    margin-top:5rem
}
ul.navigation{
    font-family:"Novacento Sans Wide","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight:400;
    text-transform:uppercase;
    font-size:1.5rem
}
@media (min-width:46.25em) and (max-width:61.24em){
    ul.navigation{
        font-size:1.35rem
    }
}
@media (min-width:20em) and (max-width:46.24em){
    ul.navigation{
        font-size:1.2rem
    }
    ul.navigation a{
        padding:0 .45rem
    }
}
ul.navigation li{
    position:relative
}
ul.navigation li.active a,ul.navigation li a.active{
    color:#fff
}
ul.navigation li a:hover{
    color:#ccc!important
}
ul.navigation a{
    padding:0 .9rem;
    display:inline-block;
    line-height:3rem;
    height:3rem;
    color:#977cad;
    text-shadow:none;
    -webkit-transition:color .3s;
    -moz-transition:color .3s;
    transition:color .3s
}
@media (min-width:81.25em){
    ul.navigation a{
        padding:0 1.8rem
    }
}
#sb-site ul.navigation a::before,#sb-site ul.navigation a::after{
    position:absolute;
    left:.9rem;
    right:.9rem;
    height:2px;
    background:#ccc!important;
    content:'';
    opacity:0;
    -webkit-transition:opacity .3s , -webkit-transform .3s;
    -moz-transition:opacity .3s , -moz-transform .3s;
    transition:opacity .3s , transform .3s;
    -webkit-transform:translateY(-10px);
    -moz-transform:translateY(-10px);
    -ms-transform:translateY(-10px);
    -o-transform:translateY(-10px);
    transform:translateY(-10px)
}
#sb-site ul.navigation a::before{
    top:0;
    -webkit-transform:translateY(-10px);
    -moz-transform:translateY(-10px);
    transform:translateY(-10px)
}
#sb-site ul.navigation a::after{
    bottom:0;
    -webkit-transform:translateY(10px);
    -moz-transform:translateY(10px);
    -ms-transform:translateY(10px);
    -o-transform:translateY(10px);
    transform:translateY(10px)
}
#sb-site ul.navigation a:hover{
    color:#ccc!important
}
#sb-site ul.navigation a:hover::before,#sb-site ul.navigation a:hover::after{
    opacity:1;
    -webkit-transform:translateY(0);
    -moz-transform:translateY(0);
    -ms-transform:translateY(0);
    -o-transform:translateY(0);
    transform:translateY(0)
}
.button{
    margin:4rem 0;
    border-radius:25px;
    height:50px;
    line-height:48px;
    font-size:1.5rem;
    font-weight:400;
    padding:0 40px
}
@media (max-width:34.365em){
    .button{
        font-size:1.2rem;
        margin:2rem 0;
        padding:0 30px
    }
}
.button.button-outline{
    border:2px solid #fff;
    color:#fff
}
.button-fancy2{
    overflow:hidden;
    -webkit-transition:color .3s;
    -moz-transition:color .3s;
    transition:color .3s;
    display:inline-block;
    border:none;
    background:none;
    color:inherit;
    vertical-align:middle;
    position:relative;
    z-index:1;
    -webkit-backface-visibility:hidden;
    -moz-osx-font-smoothing:grayscale
}
.button-fancy2::before,.button-fancy2::after{
    content:'';
    position:absolute;
    height:100%;
    width:100%;
    bottom:100%;
    left:0;
    z-index:-1;
    -webkit-transition:-webkit-transform .3s;
    -moz-transition:-moz-transform .3s;
    transition:transform .3s;
    -webkit-transition-timing-function:cubic-bezier(.75,0,.125,1);
    -moz-transition-timing-function:cubic-bezier(.75,0,.125,1);
    transition-timing-function:cubic-bezier(.75,0,.125,1)
}
.button-fancy2::before{
    background:#29baa5
}
.button-fancy2::after{
    background:#0ebcf3
}
.button-fancy2:hover{
    color:#fff;
    border-color:#fff
}
.button-fancy2:hover::before,.button-fancy2:hover::after{
    -webkit-transform:translate3d(0,100%,0);
    -moz-transform:translate3d(0,100%,0);
    -ms-transform:translate3d(0,100%,0);
    -o-transform:translate3d(0,100%,0);
    transform:translate3d(0,100%,0)
}
.button-fancy2:hover::after{
    -webkit-transition-delay:.175s;
    -moz-transition-delay:.175s;
    transition-delay:.175s
}
.stars{
    position:absolute;
    background:transparent;
    border-radius:100%
}
.stars:after{
    content:" ";
    position:absolute;
    top:2000px;
    background:transparent;
    border-radius:100%
}
#stars{
    width:4px;
    height:4px;
    box-shadow:1970px 1358px #612271 , 1931px 80px #612271 , 1758px 57px #612271 , 1778px 1437px #612271 , 489px 617px #612271 , 1628px 1786px #612271 , 588px 1612px #612271 , 1980px 398px #612271 , 1273px 1016px #612271 , 1316px 800px #612271 , 505px 343px #612271 , 1989px 697px #612271 , 367px 650px #612271 , 1573px 695px #612271 , 1485px 367px #612271 , 947px 758px #612271 , 415px 1567px #612271 , 889px 1398px #612271 , 1087px 576px #612271 , 955px 1823px #612271 , 1589px 1835px #612271 , 1112px 1709px #612271 , 980px 90px #612271 , 1338px 305px #612271 , 460px 717px #612271 , 764px 1469px #612271 , 190px 976px #612271 , 212px 1531px #612271 , 683px 29px #612271 , 1438px 1387px #612271 , 1405px 337px #612271 , 1283px 1172px #612271 , 1073px 1727px #612271 , 120px 844px #612271 , 1246px 1608px #612271 , 967px 69px #612271 , 542px 315px #612271 , 711px 608px #612271 , 14px 1125px #612271 , 707px 479px #612271 , 948px 1233px #612271 , 1635px 1693px #612271 , 1743px 868px #612271 , 1533px 1513px #612271 , 865px 727px #612271 , 1449px 55px #612271 , 187px 371px #612271 , 1542px 603px #612271 , 865px 1085px #612271 , 462px 840px #612271 , 1924px 1153px #612271 , 721px 54px #612271 , 677px 771px #612271 , 478px 1442px #612271 , 729px 336px #612271 , 469px 362px #612271 , 1150px 955px #612271 , 1490px 1625px #612271 , 1474px 1457px #612271 , 203px 966px #612271 , 1830px 221px #612271 , 1876px 1193px #612271 , 1934px 1176px #612271 , 1621px 1192px #612271 , 975px 268px #612271 , 1105px 1720px #612271 , 489px 1792px #612271 , 487px 255px #612271 , 1032px 1556px #612271 , 59px 357px #612271 , 551px 862px #612271 , 1248px 1688px #612271 , 601px 1233px #612271 , 275px 428px #612271 , 121px 1080px #612271 , 969px 1219px #612271 , 1067px 1914px #612271 , 1434px 1779px #612271 , 32px 756px #612271 , 289px 161px #612271 , 1950px 805px #612271 , 726px 831px #612271 , 743px 253px #612271 , 1079px 238px #612271 , 270px 1103px #612271 , 59px 314px #612271 , 46px 1523px #612271 , 184px 1201px #612271 , 1589px 724px #612271 , 898px 329px #612271 , 181px 1568px #612271 , 942px 829px #612271 , 899px 314px #612271 , 1833px 1526px #612271 , 1243px 553px #612271 , 1251px 1193px #612271 , 1697px 406px #612271 , 1136px 1681px #612271 , 1030px 298px #612271 , 84px 1473px #612271 , 848px 938px #612271 , 669px 1637px #612271 , 1570px 65px #612271 , 1559px 726px #612271 , 1144px 126px #612271 , 373px 743px #612271 , 1774px 1989px #612271 , 482px 879px #612271 , 621px 1954px #612271 , 363px 1227px #612271 , 758px 726px #612271 , 1939px 1877px #612271 , 407px 1345px #612271 , 874px 1512px #612271 , 7px 1498px #612271 , 1210px 1932px #612271 , 1246px 734px #612271 , 596px 790px #612271 , 842px 958px #612271 , 1190px 62px #612271 , 1539px 671px #612271 , 1213px 1106px #612271 , 1883px 41px #612271 , 93px 988px #612271 , 1364px 564px #612271 , 85px 945px #612271 , 543px 48px #612271 , 1215px 31px #612271 , 217px 129px #612271 , 535px 663px #612271 , 622px 1691px #612271 , 1738px 1131px #612271 , 84px 1131px #612271 , 1963px 319px #612271 , 544px 1569px #612271 , 1580px 46px #612271 , 10px 400px #612271 , 721px 1305px #612271 , 23px 654px #612271 , 747px 1120px #612271 , 1990px 1883px #612271 , 651px 554px #612271 , 892px 259px #612271 , 1498px 823px #612271 , 311px 1685px #612271 , 1547px 1855px #612271 , 1651px 1592px #612271 , 241px 1873px #612271 , 1681px 871px #612271 , 192px 768px #612271 , 512px 490px #612271 , 82px 1476px #612271 , 1532px 14px #612271 , 1996px 956px #612271 , 1354px 348px #612271 , 1975px 371px #612271 , 276px 1336px #612271 , 1599px 30px #612271 , 1612px 1296px #612271 , 211px 141px #612271 , 759px 1344px #612271 , 1440px 306px #612271 , 275px 1476px #612271 , 1190px 96px #612271 , 1197px 1648px #612271 , 1351px 399px #612271 , 206px 1312px #612271 , 1732px 1553px #612271 , 324px 832px #612271 , 430px 241px #612271 , 787px 292px #612271 , 1229px 1937px #612271 , 946px 438px #612271 , 899px 127px #612271 , 216px 668px #612271 , 1865px 302px #612271 , 753px 1101px #612271 , 1126px 1614px #612271 , 122px 269px #612271 , 850px 1793px #612271 , 1413px 13px #612271 , 881px 1634px #612271 , 28px 967px #612271 , 1506px 1490px #612271 , 1183px 22px #612271 , 812px 1321px #612271 , 1008px 690px #612271 , 1142px 397px #612271 , 1986px 290px #612271 , 1607px 1289px #612271 , 1062px 1003px #612271 , 1404px 275px #612271 , 544px 123px #612271 , 1117px 1535px #612271 , 820px 654px #612271 , 1248px 1862px #612271 , 1046px 318px #612271 , 1755px 1925px #612271 , 206px 1229px #612271 , 1437px 1758px #612271 , 103px 1651px #612271 , 381px 1199px #612271 , 90px 1967px #612271 , 1765px 1397px #612271 , 1751px 1812px #612271 , 1725px 1350px #612271 , 1643px 199px #612271 , 706px 1886px #612271 , 1061px 603px #612271 , 1933px 3px #612271 , 673px 1664px #612271 , 1346px 358px #612271 , 1372px 653px #612271 , 1884px 1319px #612271 , 886px 1922px #612271 , 445px 390px #612271 , 1076px 1458px #612271 , 718px 1708px #612271 , 103px 647px #612271 , 679px 1235px #612271 , 1569px 439px #612271 , 1915px 1786px #612271 , 241px 965px #612271 , 142px 806px #612271 , 332px 1394px #612271 , 1457px 224px #612271 , 1187px 771px #612271 , 1465px 493px #612271 , 735px 1953px #612271 , 374px 665px #612271 , 1127px 1500px #612271 , 1232px 954px #612271 , 395px 1006px #612271 , 1357px 1400px #612271 , 469px 1695px #612271 , 1109px 1007px #612271 , 168px 1658px #612271 , 860px 342px #612271 , 1404px 341px #612271 , 197px 796px #612271 , 1641px 1223px #612271 , 304px 1967px #612271 , 1945px 1632px #612271 , 1277px 1752px #612271 , 1406px 351px #612271 , 278px 1732px #612271 , 859px 514px #612271 , 108px 1915px #612271 , 1555px 1992px #612271 , 1360px 362px #612271 , 29px 487px #612271 , 1438px 1775px #612271 , 488px 92px #612271 , 706px 1257px #612271 , 604px 1726px #612271 , 1935px 1915px #612271 , 544px 788px #612271 , 1386px 40px #612271 , 1635px 1747px #612271 , 1825px 1092px #612271 , 347px 1987px #612271 , 702px 1771px #612271 , 1994px 328px #612271 , 549px 915px #612271 , 1381px 706px #612271 , 1602px 129px #612271 , 1069px 1415px #612271 , 990px 990px #612271 , 184px 403px #612271 , 506px 844px #612271 , 1704px 1551px #612271 , 201px 830px #612271 , 1326px 7px #612271 , 138px 243px #612271 , 968px 1153px #612271 , 1369px 1730px #612271 , 1561px 411px #612271 , 261px 703px #612271 , 55px 1286px #612271 , 996px 1265px #612271 , 553px 1666px #612271 , 803px 304px #612271 , 1600px 432px #612271 , 1008px 1367px #612271 , 1555px 1419px #612271 , 1216px 37px #612271 , 1437px 852px #612271 , 540px 454px #612271 , 431px 174px #612271 , 1614px 649px #612271 , 200px 1119px #612271 , 1865px 250px #612271 , 569px 1786px #612271 , 1843px 195px #612271 , 1793px 1019px #612271 , 739px 1552px #612271 , 545px 1801px #612271 , 1375px 1230px #612271 , 1360px 397px #612271 , 1853px 1694px #612271 , 1393px 128px #612271 , 455px 1289px #612271 , 189px 709px #612271 , 1059px 1955px #612271 , 1380px 868px #612271 , 663px 900px #612271 , 945px 257px #612271 , 1911px 1109px #612271 , 1764px 626px #612271 , 281px 1092px #612271 , 1808px 776px #612271 , 541px 676px #612271 , 1969px 1711px #612271 , 533px 1995px #612271 , 40px 1781px #612271 , 1533px 1440px #612271 , 495px 1123px #612271 , 1501px 1238px #612271 , 604px 1033px #612271 , 1446px 1885px #612271 , 1638px 1394px #612271 , 365px 41px #612271 , 740px 1712px #612271 , 1932px 246px #612271 , 1490px 849px #612271 , 1889px 642px #612271 , 838px 405px #612271 , 1489px 1128px #612271 , 734px 1822px #612271 , 863px 1659px #612271 , 870px 1759px #612271 , 1291px 1300px #612271 , 327px 1988px #612271 , 117px 819px #612271 , 867px 1943px #612271 , 1777px 389px #612271 , 23px 1052px #612271 , 92px 1150px #612271 , 884px 725px #612271 , 1889px 1808px #612271 , 1274px 1731px #612271 , 794px 666px #612271 , 52px 473px #612271 , 623px 980px #612271 , 1493px 1361px #612271 , 1160px 37px #612271 , 10px 442px #612271 , 1218px 369px #612271 , 1006px 282px #612271 , 1259px 1742px #612271 , 1060px 1370px #612271 , 103px 723px #612271 , 671px 478px #612271 , 1136px 1295px #612271 , 1097px 1941px #612271 , 1653px 1427px #612271 , 189px 1773px #612271 , 1442px 1103px #612271 , 1866px 1219px #612271 , 1558px 1597px #612271 , 506px 572px #612271 , 658px 1321px #612271 , 601px 1286px #612271 , 1087px 303px #612271 , 619px 1815px #612271 , 828px 1526px #612271 , 1257px 668px #612271 , 1869px 720px #612271 , 122px 1101px #612271 , 1177px 912px #612271 , 1618px 1459px #612271 , 59px 1646px #612271 , 1042px 151px #612271 , 26px 14px #612271 , 913px 750px #612271 , 1473px 334px #612271 , 480px 1073px #612271 , 869px 789px #612271 , 750px 1371px #612271 , 1985px 1036px #612271 , 1052px 1406px #612271 , 701px 555px #612271 , 167px 957px #612271 , 301px 146px #612271 , 704px 67px #612271 , 153px 1152px #612271 , 43px 902px #612271 , 134px 379px #612271 , 298px 958px #612271 , 120px 1264px #612271 , 275px 279px #612271 , 1944px 267px #612271 , 196px 316px #612271 , 1729px 329px #612271 , 81px 721px #612271 , 315px 1865px #612271 , 1025px 1127px #612271 , 1889px 1035px #612271 , 1160px 201px #612271 , 582px 492px #612271 , 1864px 1418px #612271 , 1147px 1977px #612271 , 951px 1065px #612271 , 1361px 1549px #612271 , 1382px 1896px #612271 , 1511px 565px #612271 , 1087px 683px #612271 , 122px 1132px #612271 , 1388px 718px #612271 , 637px 1570px #612271 , 1841px 1707px #612271 , 376px 1721px #612271 , 1244px 1101px #612271 , 148px 669px #612271 , 356px 214px #612271 , 119px 118px #612271 , 1183px 236px #612271 , 217px 1879px #612271 , 312px 1439px #612271 , 1820px 1142px #612271 , 1815px 982px #612271 , 1509px 639px #612271 , 647px 1390px #612271 , 562px 1921px #612271 , 1616px 1590px #612271 , 1189px 1732px #612271 , 315px 188px #612271 , 1528px 778px #612271 , 1518px 596px #612271 , 1767px 547px #612271 , 1781px 1893px #612271 , 913px 141px #612271 , 1861px 139px #612271 , 1366px 1935px #612271 , 1943px 1981px #612271 , 1932px 1007px #612271 , 1617px 639px #612271 , 1114px 1874px #612271 , 25px 1987px #612271 , 1825px 355px #612271 , 1055px 1885px #612271 , 1837px 723px #612271 , 1230px 1211px #612271 , 1129px 1307px #612271 , 1341px 807px #612271 , 1938px 1837px #612271 , 1864px 1185px #612271 , 717px 1122px #612271 , 242px 325px #612271 , 368px 478px #612271 , 316px 197px #612271 , 66px 1935px #612271 , 1366px 445px #612271 , 76px 786px #612271 , 230px 846px #612271 , 1148px 517px #612271 , 1455px 368px #612271 , 1797px 1605px #612271 , 1475px 912px #612271 , 785px 1013px #612271 , 1072px 159px #612271 , 1937px 1880px #612271 , 689px 1038px #612271 , 1539px 885px #612271 , 1548px 207px #612271 , 1354px 17px #612271 , 844px 1364px #612271 , 1476px 279px #612271 , 100px 1920px #612271 , 1930px 476px #612271 , 1229px 1238px #612271 , 472px 585px #612271 , 651px 1535px #612271 , 187px 727px #612271 , 1986px 410px #612271 , 1280px 1856px #612271 , 1047px 44px #612271 , 1764px 335px #612271 , 614px 1579px #612271 , 66px 1606px #612271 , 963px 1584px #612271 , 1758px 271px #612271 , 1475px 131px #612271 , 1369px 463px #612271 , 1320px 1311px #612271 , 1667px 1826px #612271 , 126px 1167px #612271 , 1229px 1698px #612271 , 1485px 1131px #612271 , 1386px 1531px #612271 , 1255px 1906px #612271 , 1778px 194px #612271 , 1089px 972px #612271 , 1678px 1896px #612271 , 603px 1472px #612271 , 1787px 223px #612271 , 609px 908px #612271 , 1436px 1004px #612271 , 182px 1898px #612271 , 1306px 1163px #612271 , 294px 681px #612271 , 1237px 1259px #612271 , 577px 528px #612271 , 1569px 1041px #612271 , 1472px 1102px #612271 , 1683px 207px #612271 , 303px 1438px #612271 , 785px 1479px #612271 , 1307px 136px #612271 , 1363px 1249px #612271 , 328px 460px #612271 , 808px 1743px #612271 , 515px 1029px #612271 , 1505px 1034px #612271 , 885px 548px #612271 , 62px 1965px #612271 , 1125px 864px #612271 , 1092px 573px #612271 , 615px 1167px #612271 , 561px 398px #612271 , 1774px 1202px #612271 , 1982px 324px #612271 , 853px 506px #612271 , 264px 743px #612271 , 1320px 747px #612271 , 534px 683px #612271 , 1197px 1359px #612271 , 1268px 537px #612271 , 969px 908px #612271 , 592px 757px #612271 , 1952px 918px #612271 , 1287px 726px #612271 , 1949px 1083px #612271 , 1502px 1929px #612271 , 250px 570px #612271 , 1914px 413px #612271 , 963px 1326px #612271 , 1029px 974px #612271 , 51px 711px #612271 , 531px 283px #612271 , 502px 1179px #612271 , 1639px 295px #612271 , 1206px 260px #612271 , 616px 1581px #612271 , 616px 15px #612271 , 1981px 1615px #612271 , 189px 1390px #612271 , 1053px 59px #612271 , 1209px 201px #612271 , 610px 132px #612271 , 1082px 1911px #612271 , 1501px 625px #612271 , 1955px 1014px #612271 , 1488px 1190px #612271 , 1520px 1754px #612271 , 1210px 707px #612271 , 1663px 236px #612271 , 1833px 688px #612271 , 1415px 1254px #612271 , 797px 1429px #612271 , 1111px 1719px #612271 , 357px 1890px #612271 , 549px 1242px #612271 , 400px 1192px #612271 , 1274px 994px #612271 , 341px 1959px #612271 , 1009px 1501px #612271 , 1768px 340px #612271 , 195px 1482px #612271 , 368px 436px #612271 , 1819px 355px #612271 , 824px 254px #612271 , 1740px 1685px #612271 , 1386px 1794px #612271 , 1731px 416px #612271 , 994px 920px #612271 , 1844px 935px #612271 , 1515px 444px #612271 , 544px 1055px #612271 , 1210px 328px #612271 , 213px 163px #612271 , 1960px 1836px #612271 , 574px 1508px #612271 , 758px 1869px #612271 , 475px 195px #612271 , 610px 750px #612271 , 754px 1196px #612271 , 1963px 411px #612271 , 1043px 237px #612271 , 1898px 745px #612271 , 1628px 790px #612271 , 1591px 193px #612271 , 634px 218px #612271 , 1919px 1641px #612271 , 856px 652px #612271 , 1880px 996px #612271 , 1473px 613px #612271 , 1577px 438px #612271 , 944px 1250px #612271 , 223px 916px #612271 , 104px 772px #612271 , 1967px 985px #612271 , 1125px 292px #612271 , 93px 79px #612271 , 772px 1127px #612271 , 1225px 1735px #612271 , 1871px 8px #612271 , 248px 543px #612271 , 1163px 1411px #612271 , 635px 1144px #612271 , 1358px 804px #612271 , 561px 856px #612271 , 1756px 470px #612271 , 1878px 1377px #612271 , 749px 1623px #612271 , 1420px 850px #612271 , 792px 1615px #612271 , 582px 107px #612271 , 581px 1654px #612271 , 934px 57px #612271 , 1838px 1024px #612271 , 1645px 1642px #612271 , 1235px 1502px #612271 , 1655px 1504px #612271 , 741px 396px #612271 , 1153px 849px #612271 , 1299px 1597px #612271 , 1031px 448px #612271 , 270px 113px #612271 , 1041px 1405px #612271 , 1651px 1688px #612271 , 1841px 376px #612271 , 1900px 1674px #612271 , 1817px 760px #612271 , 170px 447px #612271 , 225px 50px #612271 , 1299px 1305px #612271 , 1604px 851px #612271 , 175px 647px #612271 , 1379px 985px #612271 , 1428px 970px #612271 , 1093px 1392px #612271 , 1465px 1902px #612271 , 1078px 189px #612271 , 1548px 547px #612271 , 1322px 935px #612271 , 1785px 981px #612271 , 1825px 1665px #612271 , 916px 553px #612271 , 657px 1787px #612271 , 1733px 1122px #612271 , 1820px 229px #612271 , 1909px 1597px #612271 , 644px 1880px #612271 , 1627px 1713px #612271 , 758px 420px #612271 , 1229px 1347px #612271 , 214px 1022px #612271 , 1110px 6px #612271 , 690px 879px #612271 , 575px 1244px #612271 , 1488px 1425px #612271 , 1367px 799px #612271 , 763px 376px #612271 , 1043px 1103px #612271 , 131px 788px #612271 , 919px 1145px #612271 , 683px 152px #612271 , 1518px 1239px #612271 , 1165px 1823px #612271 , 145px 1018px #612271 , 999px 94px #612271 , 160px 115px #612271 , 1829px 722px #612271 , 1944px 1829px #612271 , 1232px 1851px #612271 , 745px 623px #612271 , 1019px 1040px #612271 , 1419px 31px #612271 , 1410px 103px #612271 , 1633px 41px #612271 , 1676px 751px #612271 , 294px 400px #612271 , 991px 704px #612271 , 218px 1953px #612271 , 1286px 761px #612271 , 290px 609px #612271 , 30px 1124px #612271 , 510px 137px #612271 , 401px 798px #612271 , 923px 1594px #612271 , 1087px 234px #612271 , 1219px 1346px #612271 , 1006px 1743px #612271 , 227px 1013px #612271 , 1560px 1253px #612271 , 1476px 527px #612271 , 1444px 79px #612271 , 675px 1192px #612271 , 1881px 1207px #612271
}
#stars:after{
    width:4px;
    height:4px;
    box-shadow:1970px 1358px #612271 , 1931px 80px #612271 , 1758px 57px #612271 , 1778px 1437px #612271 , 489px 617px #612271 , 1628px 1786px #612271 , 588px 1612px #612271 , 1980px 398px #612271 , 1273px 1016px #612271 , 1316px 800px #612271 , 505px 343px #612271 , 1989px 697px #612271 , 367px 650px #612271 , 1573px 695px #612271 , 1485px 367px #612271 , 947px 758px #612271 , 415px 1567px #612271 , 889px 1398px #612271 , 1087px 576px #612271 , 955px 1823px #612271 , 1589px 1835px #612271 , 1112px 1709px #612271 , 980px 90px #612271 , 1338px 305px #612271 , 460px 717px #612271 , 764px 1469px #612271 , 190px 976px #612271 , 212px 1531px #612271 , 683px 29px #612271 , 1438px 1387px #612271 , 1405px 337px #612271 , 1283px 1172px #612271 , 1073px 1727px #612271 , 120px 844px #612271 , 1246px 1608px #612271 , 967px 69px #612271 , 542px 315px #612271 , 711px 608px #612271 , 14px 1125px #612271 , 707px 479px #612271 , 948px 1233px #612271 , 1635px 1693px #612271 , 1743px 868px #612271 , 1533px 1513px #612271 , 865px 727px #612271 , 1449px 55px #612271 , 187px 371px #612271 , 1542px 603px #612271 , 865px 1085px #612271 , 462px 840px #612271 , 1924px 1153px #612271 , 721px 54px #612271 , 677px 771px #612271 , 478px 1442px #612271 , 729px 336px #612271 , 469px 362px #612271 , 1150px 955px #612271 , 1490px 1625px #612271 , 1474px 1457px #612271 , 203px 966px #612271 , 1830px 221px #612271 , 1876px 1193px #612271 , 1934px 1176px #612271 , 1621px 1192px #612271 , 975px 268px #612271 , 1105px 1720px #612271 , 489px 1792px #612271 , 487px 255px #612271 , 1032px 1556px #612271 , 59px 357px #612271 , 551px 862px #612271 , 1248px 1688px #612271 , 601px 1233px #612271 , 275px 428px #612271 , 121px 1080px #612271 , 969px 1219px #612271 , 1067px 1914px #612271 , 1434px 1779px #612271 , 32px 756px #612271 , 289px 161px #612271 , 1950px 805px #612271 , 726px 831px #612271 , 743px 253px #612271 , 1079px 238px #612271 , 270px 1103px #612271 , 59px 314px #612271 , 46px 1523px #612271 , 184px 1201px #612271 , 1589px 724px #612271 , 898px 329px #612271 , 181px 1568px #612271 , 942px 829px #612271 , 899px 314px #612271 , 1833px 1526px #612271 , 1243px 553px #612271 , 1251px 1193px #612271 , 1697px 406px #612271 , 1136px 1681px #612271 , 1030px 298px #612271 , 84px 1473px #612271 , 848px 938px #612271 , 669px 1637px #612271 , 1570px 65px #612271 , 1559px 726px #612271 , 1144px 126px #612271 , 373px 743px #612271 , 1774px 1989px #612271 , 482px 879px #612271 , 621px 1954px #612271 , 363px 1227px #612271 , 758px 726px #612271 , 1939px 1877px #612271 , 407px 1345px #612271 , 874px 1512px #612271 , 7px 1498px #612271 , 1210px 1932px #612271 , 1246px 734px #612271 , 596px 790px #612271 , 842px 958px #612271 , 1190px 62px #612271 , 1539px 671px #612271 , 1213px 1106px #612271 , 1883px 41px #612271 , 93px 988px #612271 , 1364px 564px #612271 , 85px 945px #612271 , 543px 48px #612271 , 1215px 31px #612271 , 217px 129px #612271 , 535px 663px #612271 , 622px 1691px #612271 , 1738px 1131px #612271 , 84px 1131px #612271 , 1963px 319px #612271 , 544px 1569px #612271 , 1580px 46px #612271 , 10px 400px #612271 , 721px 1305px #612271 , 23px 654px #612271 , 747px 1120px #612271 , 1990px 1883px #612271 , 651px 554px #612271 , 892px 259px #612271 , 1498px 823px #612271 , 311px 1685px #612271 , 1547px 1855px #612271 , 1651px 1592px #612271 , 241px 1873px #612271 , 1681px 871px #612271 , 192px 768px #612271 , 512px 490px #612271 , 82px 1476px #612271 , 1532px 14px #612271 , 1996px 956px #612271 , 1354px 348px #612271 , 1975px 371px #612271 , 276px 1336px #612271 , 1599px 30px #612271 , 1612px 1296px #612271 , 211px 141px #612271 , 759px 1344px #612271 , 1440px 306px #612271 , 275px 1476px #612271 , 1190px 96px #612271 , 1197px 1648px #612271 , 1351px 399px #612271 , 206px 1312px #612271 , 1732px 1553px #612271 , 324px 832px #612271 , 430px 241px #612271 , 787px 292px #612271 , 1229px 1937px #612271 , 946px 438px #612271 , 899px 127px #612271 , 216px 668px #612271 , 1865px 302px #612271 , 753px 1101px #612271 , 1126px 1614px #612271 , 122px 269px #612271 , 850px 1793px #612271 , 1413px 13px #612271 , 881px 1634px #612271 , 28px 967px #612271 , 1506px 1490px #612271 , 1183px 22px #612271 , 812px 1321px #612271 , 1008px 690px #612271 , 1142px 397px #612271 , 1986px 290px #612271 , 1607px 1289px #612271 , 1062px 1003px #612271 , 1404px 275px #612271 , 544px 123px #612271 , 1117px 1535px #612271 , 820px 654px #612271 , 1248px 1862px #612271 , 1046px 318px #612271 , 1755px 1925px #612271 , 206px 1229px #612271 , 1437px 1758px #612271 , 103px 1651px #612271 , 381px 1199px #612271 , 90px 1967px #612271 , 1765px 1397px #612271 , 1751px 1812px #612271 , 1725px 1350px #612271 , 1643px 199px #612271 , 706px 1886px #612271 , 1061px 603px #612271 , 1933px 3px #612271 , 673px 1664px #612271 , 1346px 358px #612271 , 1372px 653px #612271 , 1884px 1319px #612271 , 886px 1922px #612271 , 445px 390px #612271 , 1076px 1458px #612271 , 718px 1708px #612271 , 103px 647px #612271 , 679px 1235px #612271 , 1569px 439px #612271 , 1915px 1786px #612271 , 241px 965px #612271 , 142px 806px #612271 , 332px 1394px #612271 , 1457px 224px #612271 , 1187px 771px #612271 , 1465px 493px #612271 , 735px 1953px #612271 , 374px 665px #612271 , 1127px 1500px #612271 , 1232px 954px #612271 , 395px 1006px #612271 , 1357px 1400px #612271 , 469px 1695px #612271 , 1109px 1007px #612271 , 168px 1658px #612271 , 860px 342px #612271 , 1404px 341px #612271 , 197px 796px #612271 , 1641px 1223px #612271 , 304px 1967px #612271 , 1945px 1632px #612271 , 1277px 1752px #612271 , 1406px 351px #612271 , 278px 1732px #612271 , 859px 514px #612271 , 108px 1915px #612271 , 1555px 1992px #612271 , 1360px 362px #612271 , 29px 487px #612271 , 1438px 1775px #612271 , 488px 92px #612271 , 706px 1257px #612271 , 604px 1726px #612271 , 1935px 1915px #612271 , 544px 788px #612271 , 1386px 40px #612271 , 1635px 1747px #612271 , 1825px 1092px #612271 , 347px 1987px #612271 , 702px 1771px #612271 , 1994px 328px #612271 , 549px 915px #612271 , 1381px 706px #612271 , 1602px 129px #612271 , 1069px 1415px #612271 , 990px 990px #612271 , 184px 403px #612271 , 506px 844px #612271 , 1704px 1551px #612271 , 201px 830px #612271 , 1326px 7px #612271 , 138px 243px #612271 , 968px 1153px #612271 , 1369px 1730px #612271 , 1561px 411px #612271 , 261px 703px #612271 , 55px 1286px #612271 , 996px 1265px #612271 , 553px 1666px #612271 , 803px 304px #612271 , 1600px 432px #612271 , 1008px 1367px #612271 , 1555px 1419px #612271 , 1216px 37px #612271 , 1437px 852px #612271 , 540px 454px #612271 , 431px 174px #612271 , 1614px 649px #612271 , 200px 1119px #612271 , 1865px 250px #612271 , 569px 1786px #612271 , 1843px 195px #612271 , 1793px 1019px #612271 , 739px 1552px #612271 , 545px 1801px #612271 , 1375px 1230px #612271 , 1360px 397px #612271 , 1853px 1694px #612271 , 1393px 128px #612271 , 455px 1289px #612271 , 189px 709px #612271 , 1059px 1955px #612271 , 1380px 868px #612271 , 663px 900px #612271 , 945px 257px #612271 , 1911px 1109px #612271 , 1764px 626px #612271 , 281px 1092px #612271 , 1808px 776px #612271 , 541px 676px #612271 , 1969px 1711px #612271 , 533px 1995px #612271 , 40px 1781px #612271 , 1533px 1440px #612271 , 495px 1123px #612271 , 1501px 1238px #612271 , 604px 1033px #612271 , 1446px 1885px #612271 , 1638px 1394px #612271 , 365px 41px #612271 , 740px 1712px #612271 , 1932px 246px #612271 , 1490px 849px #612271 , 1889px 642px #612271 , 838px 405px #612271 , 1489px 1128px #612271 , 734px 1822px #612271 , 863px 1659px #612271 , 870px 1759px #612271 , 1291px 1300px #612271 , 327px 1988px #612271 , 117px 819px #612271 , 867px 1943px #612271 , 1777px 389px #612271 , 23px 1052px #612271 , 92px 1150px #612271 , 884px 725px #612271 , 1889px 1808px #612271 , 1274px 1731px #612271 , 794px 666px #612271 , 52px 473px #612271 , 623px 980px #612271 , 1493px 1361px #612271 , 1160px 37px #612271 , 10px 442px #612271 , 1218px 369px #612271 , 1006px 282px #612271 , 1259px 1742px #612271 , 1060px 1370px #612271 , 103px 723px #612271 , 671px 478px #612271 , 1136px 1295px #612271 , 1097px 1941px #612271 , 1653px 1427px #612271 , 189px 1773px #612271 , 1442px 1103px #612271 , 1866px 1219px #612271 , 1558px 1597px #612271 , 506px 572px #612271 , 658px 1321px #612271 , 601px 1286px #612271 , 1087px 303px #612271 , 619px 1815px #612271 , 828px 1526px #612271 , 1257px 668px #612271 , 1869px 720px #612271 , 122px 1101px #612271 , 1177px 912px #612271 , 1618px 1459px #612271 , 59px 1646px #612271 , 1042px 151px #612271 , 26px 14px #612271 , 913px 750px #612271 , 1473px 334px #612271 , 480px 1073px #612271 , 869px 789px #612271 , 750px 1371px #612271 , 1985px 1036px #612271 , 1052px 1406px #612271 , 701px 555px #612271 , 167px 957px #612271 , 301px 146px #612271 , 704px 67px #612271 , 153px 1152px #612271 , 43px 902px #612271 , 134px 379px #612271 , 298px 958px #612271 , 120px 1264px #612271 , 275px 279px #612271 , 1944px 267px #612271 , 196px 316px #612271 , 1729px 329px #612271 , 81px 721px #612271 , 315px 1865px #612271 , 1025px 1127px #612271 , 1889px 1035px #612271 , 1160px 201px #612271 , 582px 492px #612271 , 1864px 1418px #612271 , 1147px 1977px #612271 , 951px 1065px #612271 , 1361px 1549px #612271 , 1382px 1896px #612271 , 1511px 565px #612271 , 1087px 683px #612271 , 122px 1132px #612271 , 1388px 718px #612271 , 637px 1570px #612271 , 1841px 1707px #612271 , 376px 1721px #612271 , 1244px 1101px #612271 , 148px 669px #612271 , 356px 214px #612271 , 119px 118px #612271 , 1183px 236px #612271 , 217px 1879px #612271 , 312px 1439px #612271 , 1820px 1142px #612271 , 1815px 982px #612271 , 1509px 639px #612271 , 647px 1390px #612271 , 562px 1921px #612271 , 1616px 1590px #612271 , 1189px 1732px #612271 , 315px 188px #612271 , 1528px 778px #612271 , 1518px 596px #612271 , 1767px 547px #612271 , 1781px 1893px #612271 , 913px 141px #612271 , 1861px 139px #612271 , 1366px 1935px #612271 , 1943px 1981px #612271 , 1932px 1007px #612271 , 1617px 639px #612271 , 1114px 1874px #612271 , 25px 1987px #612271 , 1825px 355px #612271 , 1055px 1885px #612271 , 1837px 723px #612271 , 1230px 1211px #612271 , 1129px 1307px #612271 , 1341px 807px #612271 , 1938px 1837px #612271 , 1864px 1185px #612271 , 717px 1122px #612271 , 242px 325px #612271 , 368px 478px #612271 , 316px 197px #612271 , 66px 1935px #612271 , 1366px 445px #612271 , 76px 786px #612271 , 230px 846px #612271 , 1148px 517px #612271 , 1455px 368px #612271 , 1797px 1605px #612271 , 1475px 912px #612271 , 785px 1013px #612271 , 1072px 159px #612271 , 1937px 1880px #612271 , 689px 1038px #612271 , 1539px 885px #612271 , 1548px 207px #612271 , 1354px 17px #612271 , 844px 1364px #612271 , 1476px 279px #612271 , 100px 1920px #612271 , 1930px 476px #612271 , 1229px 1238px #612271 , 472px 585px #612271 , 651px 1535px #612271 , 187px 727px #612271 , 1986px 410px #612271 , 1280px 1856px #612271 , 1047px 44px #612271 , 1764px 335px #612271 , 614px 1579px #612271 , 66px 1606px #612271 , 963px 1584px #612271 , 1758px 271px #612271 , 1475px 131px #612271 , 1369px 463px #612271 , 1320px 1311px #612271 , 1667px 1826px #612271 , 126px 1167px #612271 , 1229px 1698px #612271 , 1485px 1131px #612271 , 1386px 1531px #612271 , 1255px 1906px #612271 , 1778px 194px #612271 , 1089px 972px #612271 , 1678px 1896px #612271 , 603px 1472px #612271 , 1787px 223px #612271 , 609px 908px #612271 , 1436px 1004px #612271 , 182px 1898px #612271 , 1306px 1163px #612271 , 294px 681px #612271 , 1237px 1259px #612271 , 577px 528px #612271 , 1569px 1041px #612271 , 1472px 1102px #612271 , 1683px 207px #612271 , 303px 1438px #612271 , 785px 1479px #612271 , 1307px 136px #612271 , 1363px 1249px #612271 , 328px 460px #612271 , 808px 1743px #612271 , 515px 1029px #612271 , 1505px 1034px #612271 , 885px 548px #612271 , 62px 1965px #612271 , 1125px 864px #612271 , 1092px 573px #612271 , 615px 1167px #612271 , 561px 398px #612271 , 1774px 1202px #612271 , 1982px 324px #612271 , 853px 506px #612271 , 264px 743px #612271 , 1320px 747px #612271 , 534px 683px #612271 , 1197px 1359px #612271 , 1268px 537px #612271 , 969px 908px #612271 , 592px 757px #612271 , 1952px 918px #612271 , 1287px 726px #612271 , 1949px 1083px #612271 , 1502px 1929px #612271 , 250px 570px #612271 , 1914px 413px #612271 , 963px 1326px #612271 , 1029px 974px #612271 , 51px 711px #612271 , 531px 283px #612271 , 502px 1179px #612271 , 1639px 295px #612271 , 1206px 260px #612271 , 616px 1581px #612271 , 616px 15px #612271 , 1981px 1615px #612271 , 189px 1390px #612271 , 1053px 59px #612271 , 1209px 201px #612271 , 610px 132px #612271 , 1082px 1911px #612271 , 1501px 625px #612271 , 1955px 1014px #612271 , 1488px 1190px #612271 , 1520px 1754px #612271 , 1210px 707px #612271 , 1663px 236px #612271 , 1833px 688px #612271 , 1415px 1254px #612271 , 797px 1429px #612271 , 1111px 1719px #612271 , 357px 1890px #612271 , 549px 1242px #612271 , 400px 1192px #612271 , 1274px 994px #612271 , 341px 1959px #612271 , 1009px 1501px #612271 , 1768px 340px #612271 , 195px 1482px #612271 , 368px 436px #612271 , 1819px 355px #612271 , 824px 254px #612271 , 1740px 1685px #612271 , 1386px 1794px #612271 , 1731px 416px #612271 , 994px 920px #612271 , 1844px 935px #612271 , 1515px 444px #612271 , 544px 1055px #612271 , 1210px 328px #612271 , 213px 163px #612271 , 1960px 1836px #612271 , 574px 1508px #612271 , 758px 1869px #612271 , 475px 195px #612271 , 610px 750px #612271 , 754px 1196px #612271 , 1963px 411px #612271 , 1043px 237px #612271 , 1898px 745px #612271 , 1628px 790px #612271 , 1591px 193px #612271 , 634px 218px #612271 , 1919px 1641px #612271 , 856px 652px #612271 , 1880px 996px #612271 , 1473px 613px #612271 , 1577px 438px #612271 , 944px 1250px #612271 , 223px 916px #612271 , 104px 772px #612271 , 1967px 985px #612271 , 1125px 292px #612271 , 93px 79px #612271 , 772px 1127px #612271 , 1225px 1735px #612271 , 1871px 8px #612271 , 248px 543px #612271 , 1163px 1411px #612271 , 635px 1144px #612271 , 1358px 804px #612271 , 561px 856px #612271 , 1756px 470px #612271 , 1878px 1377px #612271 , 749px 1623px #612271 , 1420px 850px #612271 , 792px 1615px #612271 , 582px 107px #612271 , 581px 1654px #612271 , 934px 57px #612271 , 1838px 1024px #612271 , 1645px 1642px #612271 , 1235px 1502px #612271 , 1655px 1504px #612271 , 741px 396px #612271 , 1153px 849px #612271 , 1299px 1597px #612271 , 1031px 448px #612271 , 270px 113px #612271 , 1041px 1405px #612271 , 1651px 1688px #612271 , 1841px 376px #612271 , 1900px 1674px #612271 , 1817px 760px #612271 , 170px 447px #612271 , 225px 50px #612271 , 1299px 1305px #612271 , 1604px 851px #612271 , 175px 647px #612271 , 1379px 985px #612271 , 1428px 970px #612271 , 1093px 1392px #612271 , 1465px 1902px #612271 , 1078px 189px #612271 , 1548px 547px #612271 , 1322px 935px #612271 , 1785px 981px #612271 , 1825px 1665px #612271 , 916px 553px #612271 , 657px 1787px #612271 , 1733px 1122px #612271 , 1820px 229px #612271 , 1909px 1597px #612271 , 644px 1880px #612271 , 1627px 1713px #612271 , 758px 420px #612271 , 1229px 1347px #612271 , 214px 1022px #612271 , 1110px 6px #612271 , 690px 879px #612271 , 575px 1244px #612271 , 1488px 1425px #612271 , 1367px 799px #612271 , 763px 376px #612271 , 1043px 1103px #612271 , 131px 788px #612271 , 919px 1145px #612271 , 683px 152px #612271 , 1518px 1239px #612271 , 1165px 1823px #612271 , 145px 1018px #612271 , 999px 94px #612271 , 160px 115px #612271 , 1829px 722px #612271 , 1944px 1829px #612271 , 1232px 1851px #612271 , 745px 623px #612271 , 1019px 1040px #612271 , 1419px 31px #612271 , 1410px 103px #612271 , 1633px 41px #612271 , 1676px 751px #612271 , 294px 400px #612271 , 991px 704px #612271 , 218px 1953px #612271 , 1286px 761px #612271 , 290px 609px #612271 , 30px 1124px #612271 , 510px 137px #612271 , 401px 798px #612271 , 923px 1594px #612271 , 1087px 234px #612271 , 1219px 1346px #612271 , 1006px 1743px #612271 , 227px 1013px #612271 , 1560px 1253px #612271 , 1476px 527px #612271 , 1444px 79px #612271 , 675px 1192px #612271 , 1881px 1207px #612271
}
#stars2{
    width:8px;
    height:8px;
    box-shadow:329px 979px #5a2069 , 998px 846px #5a2069 , 1534px 558px #5a2069 , 1705px 1292px #5a2069 , 414px 1168px #5a2069 , 576px 104px #5a2069 , 1660px 65px #5a2069 , 1606px 440px #5a2069 , 180px 1901px #5a2069 , 40px 1021px #5a2069 , 457px 232px #5a2069 , 1691px 341px #5a2069 , 648px 500px #5a2069 , 1911px 655px #5a2069 , 1387px 1940px #5a2069 , 814px 102px #5a2069 , 1479px 976px #5a2069 , 1344px 436px #5a2069 , 340px 1752px #5a2069 , 1931px 561px #5a2069 , 1994px 345px #5a2069 , 1265px 1043px #5a2069 , 1698px 937px #5a2069 , 1577px 643px #5a2069 , 1919px 481px #5a2069 , 1556px 463px #5a2069 , 564px 422px #5a2069 , 283px 1959px #5a2069 , 426px 393px #5a2069 , 867px 1123px #5a2069 , 1016px 959px #5a2069 , 1396px 709px #5a2069 , 329px 210px #5a2069 , 788px 204px #5a2069 , 1927px 1948px #5a2069 , 1419px 1120px #5a2069 , 421px 147px #5a2069 , 1571px 1619px #5a2069 , 1446px 1472px #5a2069 , 22px 742px #5a2069 , 1175px 727px #5a2069 , 1552px 587px #5a2069 , 1310px 774px #5a2069 , 60px 319px #5a2069 , 1974px 1319px #5a2069 , 522px 1629px #5a2069 , 1320px 1041px #5a2069 , 1814px 126px #5a2069 , 1227px 331px #5a2069 , 1212px 525px #5a2069 , 1537px 1245px #5a2069 , 1321px 1586px #5a2069 , 1782px 886px #5a2069 , 1057px 1332px #5a2069 , 1582px 1899px #5a2069 , 846px 701px #5a2069 , 438px 1402px #5a2069 , 1636px 930px #5a2069 , 1320px 559px #5a2069 , 869px 1678px #5a2069 , 313px 1666px #5a2069 , 122px 1336px #5a2069 , 35px 1784px #5a2069 , 863px 339px #5a2069 , 990px 1216px #5a2069 , 1395px 1406px #5a2069 , 1181px 48px #5a2069 , 1960px 1722px #5a2069 , 1863px 975px #5a2069 , 1157px 1420px #5a2069 , 1574px 115px #5a2069 , 1622px 1659px #5a2069 , 762px 264px #5a2069 , 26px 828px #5a2069 , 1962px 1634px #5a2069 , 1815px 650px #5a2069 , 121px 517px #5a2069 , 1120px 1202px #5a2069 , 1761px 499px #5a2069 , 1317px 255px #5a2069 , 1138px 490px #5a2069 , 1185px 1171px #5a2069 , 1632px 1965px #5a2069 , 941px 428px #5a2069 , 1251px 1219px #5a2069 , 209px 229px #5a2069 , 155px 233px #5a2069 , 1918px 1644px #5a2069 , 1166px 1495px #5a2069 , 830px 1406px #5a2069 , 957px 1373px #5a2069 , 1823px 760px #5a2069 , 54px 146px #5a2069 , 910px 1273px #5a2069 , 1863px 455px #5a2069 , 634px 238px #5a2069 , 1389px 1935px #5a2069 , 487px 1834px #5a2069 , 343px 1946px #5a2069 , 1222px 491px #5a2069 , 195px 970px #5a2069 , 791px 1663px #5a2069 , 245px 710px #5a2069 , 605px 1996px #5a2069 , 671px 1100px #5a2069 , 826px 1838px #5a2069 , 1892px 38px #5a2069 , 1844px 221px #5a2069 , 1322px 954px #5a2069 , 1808px 1864px #5a2069 , 585px 1424px #5a2069 , 799px 936px #5a2069 , 1207px 1681px #5a2069 , 136px 511px #5a2069 , 1625px 1249px #5a2069 , 1061px 1082px #5a2069 , 287px 1207px #5a2069 , 1967px 75px #5a2069 , 2px 1293px #5a2069 , 1866px 375px #5a2069 , 1942px 878px #5a2069 , 1687px 611px #5a2069 , 392px 1804px #5a2069 , 985px 932px #5a2069 , 999px 521px #5a2069 , 1338px 536px #5a2069 , 853px 345px #5a2069 , 132px 842px #5a2069 , 1634px 425px #5a2069 , 172px 549px #5a2069 , 977px 87px #5a2069 , 1546px 1129px #5a2069 , 485px 634px #5a2069 , 292px 1255px #5a2069 , 186px 1732px #5a2069 , 361px 1529px #5a2069 , 209px 1310px #5a2069 , 90px 1395px #5a2069 , 46px 403px #5a2069 , 1465px 1141px #5a2069 , 1521px 349px #5a2069 , 340px 394px #5a2069 , 1658px 853px #5a2069 , 9px 1721px #5a2069 , 1985px 957px #5a2069 , 854px 677px #5a2069 , 101px 1752px #5a2069 , 377px 645px #5a2069 , 159px 1217px #5a2069 , 790px 1641px #5a2069 , 1860px 432px #5a2069 , 1722px 1438px #5a2069 , 278px 551px #5a2069 , 1888px 740px #5a2069 , 906px 242px #5a2069 , 18px 647px #5a2069 , 874px 1351px #5a2069 , 799px 420px #5a2069 , 828px 68px #5a2069 , 1561px 587px #5a2069 , 1225px 667px #5a2069 , 1436px 1297px #5a2069 , 1737px 1931px #5a2069 , 1934px 1402px #5a2069 , 1731px 888px #5a2069 , 1318px 160px #5a2069 , 1814px 307px #5a2069 , 1796px 651px #5a2069 , 1077px 202px #5a2069 , 465px 1450px #5a2069 , 318px 1213px #5a2069 , 1392px 1787px #5a2069 , 940px 131px #5a2069 , 309px 1639px #5a2069 , 280px 287px #5a2069 , 1826px 1694px #5a2069 , 1689px 1802px #5a2069 , 477px 61px #5a2069 , 1861px 296px #5a2069 , 627px 1898px #5a2069 , 1790px 707px #5a2069 , 258px 1313px #5a2069 , 234px 735px #5a2069 , 1090px 197px #5a2069 , 820px 1554px #5a2069 , 1244px 1632px #5a2069 , 1534px 264px #5a2069 , 516px 1448px #5a2069 , 674px 861px #5a2069 , 498px 920px #5a2069 , 897px 1526px #5a2069 , 684px 824px #5a2069 , 1748px 1947px #5a2069 , 1960px 837px #5a2069 , 944px 78px #5a2069 , 764px 767px #5a2069 , 187px 1318px #5a2069 , 264px 560px #5a2069 , 957px 781px #5a2069 , 403px 554px #5a2069 , 1392px 1859px #5a2069 , 818px 557px #5a2069 , 1494px 1059px #5a2069 , 1652px 943px #5a2069 , 1245px 1006px #5a2069 , 1513px 369px #5a2069 , 1513px 1575px #5a2069 , 1643px 299px #5a2069 , 1600px 1223px #5a2069 , 1803px 24px #5a2069 , 83px 1946px #5a2069 , 348px 1930px #5a2069 , 1884px 1788px #5a2069 , 915px 311px #5a2069 , 882px 793px #5a2069 , 1343px 407px #5a2069 , 377px 733px #5a2069 , 1260px 831px #5a2069 , 827px 738px #5a2069 , 1922px 194px #5a2069 , 179px 452px #5a2069 , 1654px 1991px #5a2069 , 795px 1283px #5a2069 , 1363px 174px #5a2069 , 170px 759px #5a2069 , 1685px 54px #5a2069 , 1477px 762px #5a2069 , 1366px 1240px #5a2069 , 364px 1285px #5a2069 , 931px 365px #5a2069 , 1759px 399px #5a2069 , 1885px 1134px #5a2069 , 751px 106px #5a2069 , 1753px 240px #5a2069 , 1981px 904px #5a2069 , 1344px 31px #5a2069 , 1677px 1139px #5a2069 , 333px 150px #5a2069 , 182px 832px #5a2069 , 1332px 1305px #5a2069 , 1922px 1457px #5a2069 , 552px 127px #5a2069 , 59px 1475px #5a2069 , 848px 797px #5a2069 , 681px 329px #5a2069 , 345px 1989px #5a2069 , 350px 747px #5a2069 , 285px 11px #5a2069 , 1604px 1806px #5a2069 , 4px 1074px #5a2069
}
#stars2:after{
    width:8px;
    height:8px;
    box-shadow:329px 979px #5a2069 , 998px 846px #5a2069 , 1534px 558px #5a2069 , 1705px 1292px #5a2069 , 414px 1168px #5a2069 , 576px 104px #5a2069 , 1660px 65px #5a2069 , 1606px 440px #5a2069 , 180px 1901px #5a2069 , 40px 1021px #5a2069 , 457px 232px #5a2069 , 1691px 341px #5a2069 , 648px 500px #5a2069 , 1911px 655px #5a2069 , 1387px 1940px #5a2069 , 814px 102px #5a2069 , 1479px 976px #5a2069 , 1344px 436px #5a2069 , 340px 1752px #5a2069 , 1931px 561px #5a2069 , 1994px 345px #5a2069 , 1265px 1043px #5a2069 , 1698px 937px #5a2069 , 1577px 643px #5a2069 , 1919px 481px #5a2069 , 1556px 463px #5a2069 , 564px 422px #5a2069 , 283px 1959px #5a2069 , 426px 393px #5a2069 , 867px 1123px #5a2069 , 1016px 959px #5a2069 , 1396px 709px #5a2069 , 329px 210px #5a2069 , 788px 204px #5a2069 , 1927px 1948px #5a2069 , 1419px 1120px #5a2069 , 421px 147px #5a2069 , 1571px 1619px #5a2069 , 1446px 1472px #5a2069 , 22px 742px #5a2069 , 1175px 727px #5a2069 , 1552px 587px #5a2069 , 1310px 774px #5a2069 , 60px 319px #5a2069 , 1974px 1319px #5a2069 , 522px 1629px #5a2069 , 1320px 1041px #5a2069 , 1814px 126px #5a2069 , 1227px 331px #5a2069 , 1212px 525px #5a2069 , 1537px 1245px #5a2069 , 1321px 1586px #5a2069 , 1782px 886px #5a2069 , 1057px 1332px #5a2069 , 1582px 1899px #5a2069 , 846px 701px #5a2069 , 438px 1402px #5a2069 , 1636px 930px #5a2069 , 1320px 559px #5a2069 , 869px 1678px #5a2069 , 313px 1666px #5a2069 , 122px 1336px #5a2069 , 35px 1784px #5a2069 , 863px 339px #5a2069 , 990px 1216px #5a2069 , 1395px 1406px #5a2069 , 1181px 48px #5a2069 , 1960px 1722px #5a2069 , 1863px 975px #5a2069 , 1157px 1420px #5a2069 , 1574px 115px #5a2069 , 1622px 1659px #5a2069 , 762px 264px #5a2069 , 26px 828px #5a2069 , 1962px 1634px #5a2069 , 1815px 650px #5a2069 , 121px 517px #5a2069 , 1120px 1202px #5a2069 , 1761px 499px #5a2069 , 1317px 255px #5a2069 , 1138px 490px #5a2069 , 1185px 1171px #5a2069 , 1632px 1965px #5a2069 , 941px 428px #5a2069 , 1251px 1219px #5a2069 , 209px 229px #5a2069 , 155px 233px #5a2069 , 1918px 1644px #5a2069 , 1166px 1495px #5a2069 , 830px 1406px #5a2069 , 957px 1373px #5a2069 , 1823px 760px #5a2069 , 54px 146px #5a2069 , 910px 1273px #5a2069 , 1863px 455px #5a2069 , 634px 238px #5a2069 , 1389px 1935px #5a2069 , 487px 1834px #5a2069 , 343px 1946px #5a2069 , 1222px 491px #5a2069 , 195px 970px #5a2069 , 791px 1663px #5a2069 , 245px 710px #5a2069 , 605px 1996px #5a2069 , 671px 1100px #5a2069 , 826px 1838px #5a2069 , 1892px 38px #5a2069 , 1844px 221px #5a2069 , 1322px 954px #5a2069 , 1808px 1864px #5a2069 , 585px 1424px #5a2069 , 799px 936px #5a2069 , 1207px 1681px #5a2069 , 136px 511px #5a2069 , 1625px 1249px #5a2069 , 1061px 1082px #5a2069 , 287px 1207px #5a2069 , 1967px 75px #5a2069 , 2px 1293px #5a2069 , 1866px 375px #5a2069 , 1942px 878px #5a2069 , 1687px 611px #5a2069 , 392px 1804px #5a2069 , 985px 932px #5a2069 , 999px 521px #5a2069 , 1338px 536px #5a2069 , 853px 345px #5a2069 , 132px 842px #5a2069 , 1634px 425px #5a2069 , 172px 549px #5a2069 , 977px 87px #5a2069 , 1546px 1129px #5a2069 , 485px 634px #5a2069 , 292px 1255px #5a2069 , 186px 1732px #5a2069 , 361px 1529px #5a2069 , 209px 1310px #5a2069 , 90px 1395px #5a2069 , 46px 403px #5a2069 , 1465px 1141px #5a2069 , 1521px 349px #5a2069 , 340px 394px #5a2069 , 1658px 853px #5a2069 , 9px 1721px #5a2069 , 1985px 957px #5a2069 , 854px 677px #5a2069 , 101px 1752px #5a2069 , 377px 645px #5a2069 , 159px 1217px #5a2069 , 790px 1641px #5a2069 , 1860px 432px #5a2069 , 1722px 1438px #5a2069 , 278px 551px #5a2069 , 1888px 740px #5a2069 , 906px 242px #5a2069 , 18px 647px #5a2069 , 874px 1351px #5a2069 , 799px 420px #5a2069 , 828px 68px #5a2069 , 1561px 587px #5a2069 , 1225px 667px #5a2069 , 1436px 1297px #5a2069 , 1737px 1931px #5a2069 , 1934px 1402px #5a2069 , 1731px 888px #5a2069 , 1318px 160px #5a2069 , 1814px 307px #5a2069 , 1796px 651px #5a2069 , 1077px 202px #5a2069 , 465px 1450px #5a2069 , 318px 1213px #5a2069 , 1392px 1787px #5a2069 , 940px 131px #5a2069 , 309px 1639px #5a2069 , 280px 287px #5a2069 , 1826px 1694px #5a2069 , 1689px 1802px #5a2069 , 477px 61px #5a2069 , 1861px 296px #5a2069 , 627px 1898px #5a2069 , 1790px 707px #5a2069 , 258px 1313px #5a2069 , 234px 735px #5a2069 , 1090px 197px #5a2069 , 820px 1554px #5a2069 , 1244px 1632px #5a2069 , 1534px 264px #5a2069 , 516px 1448px #5a2069 , 674px 861px #5a2069 , 498px 920px #5a2069 , 897px 1526px #5a2069 , 684px 824px #5a2069 , 1748px 1947px #5a2069 , 1960px 837px #5a2069 , 944px 78px #5a2069 , 764px 767px #5a2069 , 187px 1318px #5a2069 , 264px 560px #5a2069 , 957px 781px #5a2069 , 403px 554px #5a2069 , 1392px 1859px #5a2069 , 818px 557px #5a2069 , 1494px 1059px #5a2069 , 1652px 943px #5a2069 , 1245px 1006px #5a2069 , 1513px 369px #5a2069 , 1513px 1575px #5a2069 , 1643px 299px #5a2069 , 1600px 1223px #5a2069 , 1803px 24px #5a2069 , 83px 1946px #5a2069 , 348px 1930px #5a2069 , 1884px 1788px #5a2069 , 915px 311px #5a2069 , 882px 793px #5a2069 , 1343px 407px #5a2069 , 377px 733px #5a2069 , 1260px 831px #5a2069 , 827px 738px #5a2069 , 1922px 194px #5a2069 , 179px 452px #5a2069 , 1654px 1991px #5a2069 , 795px 1283px #5a2069 , 1363px 174px #5a2069 , 170px 759px #5a2069 , 1685px 54px #5a2069 , 1477px 762px #5a2069 , 1366px 1240px #5a2069 , 364px 1285px #5a2069 , 931px 365px #5a2069 , 1759px 399px #5a2069 , 1885px 1134px #5a2069 , 751px 106px #5a2069 , 1753px 240px #5a2069 , 1981px 904px #5a2069 , 1344px 31px #5a2069 , 1677px 1139px #5a2069 , 333px 150px #5a2069 , 182px 832px #5a2069 , 1332px 1305px #5a2069 , 1922px 1457px #5a2069 , 552px 127px #5a2069 , 59px 1475px #5a2069 , 848px 797px #5a2069 , 681px 329px #5a2069 , 345px 1989px #5a2069 , 350px 747px #5a2069 , 285px 11px #5a2069 , 1604px 1806px #5a2069 , 4px 1074px #5a2069
}
#stars3{
    width:12px;
    height:12px;
    box-shadow:802px 613px #501c5d , 833px 1423px #501c5d , 1164px 1508px #501c5d , 1724px 1688px #501c5d , 39px 1285px #501c5d , 1595px 921px #501c5d , 1492px 649px #501c5d , 812px 783px #501c5d , 3px 105px #501c5d , 1052px 191px #501c5d , 1503px 1784px #501c5d , 1076px 1091px #501c5d , 1161px 1114px #501c5d , 386px 87px #501c5d , 397px 902px #501c5d , 509px 672px #501c5d , 1063px 1826px #501c5d , 1179px 978px #501c5d , 272px 1997px #501c5d , 1444px 1147px #501c5d , 86px 1320px #501c5d , 340px 875px #501c5d , 1787px 1839px #501c5d , 751px 1216px #501c5d , 1524px 416px #501c5d , 937px 1287px #501c5d , 1606px 1980px #501c5d , 1942px 103px #501c5d , 1457px 1707px #501c5d , 343px 1992px #501c5d , 983px 370px #501c5d , 1505px 859px #501c5d , 1021px 1112px #501c5d , 742px 130px #501c5d , 1750px 469px #501c5d , 965px 657px #501c5d , 12px 532px #501c5d , 1158px 567px #501c5d , 528px 464px #501c5d , 891px 1912px #501c5d , 1742px 269px #501c5d , 1477px 470px #501c5d , 184px 548px #501c5d , 387px 1866px #501c5d , 743px 1127px #501c5d , 1417px 911px #501c5d , 1079px 1293px #501c5d , 146px 30px #501c5d , 1181px 1343px #501c5d , 326px 1327px #501c5d , 324px 1959px #501c5d , 1627px 1751px #501c5d , 623px 1051px #501c5d , 875px 1124px #501c5d , 1253px 751px #501c5d , 298px 1513px #501c5d , 1224px 231px #501c5d , 708px 1865px #501c5d , 365px 112px #501c5d , 622px 794px #501c5d , 1127px 1655px #501c5d , 853px 94px #501c5d , 1152px 1473px #501c5d , 681px 513px #501c5d , 1930px 110px #501c5d , 626px 629px #501c5d , 805px 934px #501c5d , 387px 721px #501c5d , 346px 1453px #501c5d , 45px 648px #501c5d , 1722px 1125px #501c5d , 1003px 465px #501c5d , 843px 931px #501c5d , 1880px 1911px #501c5d , 487px 1193px #501c5d , 280px 229px #501c5d , 217px 961px #501c5d , 499px 796px #501c5d , 849px 139px #501c5d , 130px 240px #501c5d , 1483px 570px #501c5d , 518px 451px #501c5d , 1699px 1469px #501c5d , 46px 280px #501c5d , 746px 1541px #501c5d , 526px 1041px #501c5d , 852px 1771px #501c5d , 1232px 231px #501c5d , 463px 416px #501c5d , 491px 358px #501c5d , 1074px 485px #501c5d , 1599px 943px #501c5d , 1873px 1468px #501c5d , 255px 685px #501c5d , 1635px 1929px #501c5d , 1272px 1871px #501c5d , 1578px 1614px #501c5d , 442px 319px #501c5d , 1539px 791px #501c5d , 1483px 1292px #501c5d
}
#stars3:after{
    width:12px;
    height:12px;
    box-shadow:802px 613px #501c5d , 833px 1423px #501c5d , 1164px 1508px #501c5d , 1724px 1688px #501c5d , 39px 1285px #501c5d , 1595px 921px #501c5d , 1492px 649px #501c5d , 812px 783px #501c5d , 3px 105px #501c5d , 1052px 191px #501c5d , 1503px 1784px #501c5d , 1076px 1091px #501c5d , 1161px 1114px #501c5d , 386px 87px #501c5d , 397px 902px #501c5d , 509px 672px #501c5d , 1063px 1826px #501c5d , 1179px 978px #501c5d , 272px 1997px #501c5d , 1444px 1147px #501c5d , 86px 1320px #501c5d , 340px 875px #501c5d , 1787px 1839px #501c5d , 751px 1216px #501c5d , 1524px 416px #501c5d , 937px 1287px #501c5d , 1606px 1980px #501c5d , 1942px 103px #501c5d , 1457px 1707px #501c5d , 343px 1992px #501c5d , 983px 370px #501c5d , 1505px 859px #501c5d , 1021px 1112px #501c5d , 742px 130px #501c5d , 1750px 469px #501c5d , 965px 657px #501c5d , 12px 532px #501c5d , 1158px 567px #501c5d , 528px 464px #501c5d , 891px 1912px #501c5d , 1742px 269px #501c5d , 1477px 470px #501c5d , 184px 548px #501c5d , 387px 1866px #501c5d , 743px 1127px #501c5d , 1417px 911px #501c5d , 1079px 1293px #501c5d , 146px 30px #501c5d , 1181px 1343px #501c5d , 326px 1327px #501c5d , 324px 1959px #501c5d , 1627px 1751px #501c5d , 623px 1051px #501c5d , 875px 1124px #501c5d , 1253px 751px #501c5d , 298px 1513px #501c5d , 1224px 231px #501c5d , 708px 1865px #501c5d , 365px 112px #501c5d , 622px 794px #501c5d , 1127px 1655px #501c5d , 853px 94px #501c5d , 1152px 1473px #501c5d , 681px 513px #501c5d , 1930px 110px #501c5d , 626px 629px #501c5d , 805px 934px #501c5d , 387px 721px #501c5d , 346px 1453px #501c5d , 45px 648px #501c5d , 1722px 1125px #501c5d , 1003px 465px #501c5d , 843px 931px #501c5d , 1880px 1911px #501c5d , 487px 1193px #501c5d , 280px 229px #501c5d , 217px 961px #501c5d , 499px 796px #501c5d , 849px 139px #501c5d , 130px 240px #501c5d , 1483px 570px #501c5d , 518px 451px #501c5d , 1699px 1469px #501c5d , 46px 280px #501c5d , 746px 1541px #501c5d , 526px 1041px #501c5d , 852px 1771px #501c5d , 1232px 231px #501c5d , 463px 416px #501c5d , 491px 358px #501c5d , 1074px 485px #501c5d , 1599px 943px #501c5d , 1873px 1468px #501c5d , 255px 685px #501c5d , 1635px 1929px #501c5d , 1272px 1871px #501c5d , 1578px 1614px #501c5d , 442px 319px #501c5d , 1539px 791px #501c5d , 1483px 1292px #501c5d
}
#stars4{
    width:16px;
    height:16px;
    box-shadow:789px 1198px #461851 , 1581px 356px #461851 , 1199px 1133px #461851 , 1853px 1915px #461851 , 1085px 664px #461851 , 1694px 876px #461851 , 72px 1534px #461851 , 1516px 1750px #461851 , 1046px 1361px #461851 , 950px 305px #461851 , 864px 281px #461851 , 431px 1317px #461851 , 1455px 467px #461851 , 1039px 318px #461851 , 493px 11px #461851 , 445px 633px #461851 , 1673px 959px #461851 , 1446px 10px #461851 , 208px 198px #461851 , 1236px 653px #461851 , 1838px 1257px #461851 , 960px 484px #461851 , 1645px 1296px #461851 , 1909px 1942px #461851 , 1635px 920px #461851 , 555px 1101px #461851 , 788px 186px #461851 , 559px 1900px #461851 , 1860px 93px #461851 , 1236px 1039px #461851 , 1783px 821px #461851 , 845px 962px #461851 , 1309px 1840px #461851 , 616px 1156px #461851 , 475px 199px #461851 , 545px 1194px #461851 , 684px 1418px #461851 , 1881px 98px #461851 , 970px 522px #461851 , 1319px 1061px #461851 , 1532px 865px #461851 , 1200px 1207px #461851 , 275px 1228px #461851 , 160px 175px #461851 , 652px 1232px #461851 , 908px 1962px #461851 , 171px 567px #461851 , 1149px 168px #461851 , 600px 1568px #461851 , 347px 136px #461851
}
#stars4:after{
    width:16px;
    height:16px;
    box-shadow:789px 1198px #461851 , 1581px 356px #461851 , 1199px 1133px #461851 , 1853px 1915px #461851 , 1085px 664px #461851 , 1694px 876px #461851 , 72px 1534px #461851 , 1516px 1750px #461851 , 1046px 1361px #461851 , 950px 305px #461851 , 864px 281px #461851 , 431px 1317px #461851 , 1455px 467px #461851 , 1039px 318px #461851 , 493px 11px #461851 , 445px 633px #461851 , 1673px 959px #461851 , 1446px 10px #461851 , 208px 198px #461851 , 1236px 653px #461851 , 1838px 1257px #461851 , 960px 484px #461851 , 1645px 1296px #461851 , 1909px 1942px #461851 , 1635px 920px #461851 , 555px 1101px #461851 , 788px 186px #461851 , 559px 1900px #461851 , 1860px 93px #461851 , 1236px 1039px #461851 , 1783px 821px #461851 , 845px 962px #461851 , 1309px 1840px #461851 , 616px 1156px #461851 , 475px 199px #461851 , 545px 1194px #461851 , 684px 1418px #461851 , 1881px 98px #461851 , 970px 522px #461851 , 1319px 1061px #461851 , 1532px 865px #461851 , 1200px 1207px #461851 , 275px 1228px #461851 , 160px 175px #461851 , 652px 1232px #461851 , 908px 1962px #461851 , 171px 567px #461851 , 1149px 168px #461851 , 600px 1568px #461851 , 347px 136px #461851
}
.stars-active:not(.no-animation) #stars2{
    animation:animStar 150s linear infinite
}
.stars-active:not(.no-animation) #stars3{
    animation:animStar 100s linear infinite
}
.stars-active:not(.no-animation) #stars4{
    animation:animStar 50s linear infinite
}
@keyframes animStar{
     from{
         transform:translateY(0) 
    }
     to{
         transform:translateY(-2000px) 
    }
}
.box:hover{
    border:1px solid #721477
}
.box{
    border:1px solid #0ec0f5;
    border-radius:2px;
    padding:1%;
    width:570px;
    bottom:0;
    left:0;
    right:0;
    text-align:left;
    margin:auto;
    font-size:initial!important;
    max-height:285px;
    overflow:auto;
    box-shadow:inset 0 0 0 1000px rgba(0,0,0,.8);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
    background-size:cover
}
#submit_song_form input.email{
    font-family:"Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
    font-size:15px;
    border:1px solid #abb0b2;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    color:#343434;
    background-color:#fff;
    box-sizing:border-box;
    height:32px;
    padding:0 .4em;
    display:inline-block;
    margin:0;
    width:450px;
    vertical-align:top
}
#submit_song_form input.email:hover{
    border:1px solid #721477
}
#submit_song_form .clear{
    display:inline-block
}
#submit_song_form .button{
    font-size:13px;
    border:none;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    letter-spacing:.03em;
    color:#fff;
    background-color:#0ec0f5;
    box-sizing:border-box;
    height:32px;
    line-height:32px;
    padding:0 18px;
    display:inline-block;
    margin:0;
    transition:all .23s ease-in-out 0s
}
#submit_song_form .button:hover{
    background-color:#721477;
    cursor:pointer
}
@media (max-width:768px){
    #submit_song_form input.email{
        width:100%;
        margin-bottom:5px
    }
    #submit_song_form .clear{
        display:block;
        width:100%
    }
    #submit_song_form .button{
        width:100%;
        margin:0
    }
}
.nav-toggle{
    width:60px;
    height:60px;
    z-index:1001;
    border-radius:50%;
    position:absolute;
    top:20px;
    right:40px;
    cursor:pointer;
    box-shadow:0 3px 0 fade(black,20%);
    -webkit-transition-duration:.66s;
    -moz-transition-duration:.66s;
    transition-duration:.66s;
    -webkit-transition-timing-function:swing;
    -moz-transition-timing-function:swing;
    transition-timing-function:swing;
    display:none
}
@media (min-width:20em) and (max-width:34.365em){
    .nav-toggle{
        position:absolute;
        top:20px;
        right:15px
    }
}
@media (min-width:20em) and (max-width:61.24em){
    .nav-toggle{
        display:block
    }
}
.nav-toggle:before{
    width:60px;
    height:60px;
    border-radius:50%;
    background-color:#29baa5;
    content:"";
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translateX(-50%) translateY(-50%);
    -moz-transform:translateX(-50%) translateY(-50%);
    -ms-transform:translateX(-50%) translateY(-50%);
    -o-transform:translateX(-50%) translateY(-50%);
    transform:translateX(-50%) translateY(-50%);
    -webkit-transition-duration:.66s;
    -moz-transition-duration:.66s;
    transition-duration:.66s;
    -webkit-transition-timing-function:swing;
    -moz-transition-timing-function:swing;
    transition-timing-function:swing
}
.nav-toggle .icon{
    width:30px;
    height:4px;
    background-color:#fff;
    border-radius:2px;
    position:absolute;
    top:28px;
    left:15px;
    -webkit-transition-duration:.5s;
    -moz-transition-duration:.5s;
    transition-duration:.5s;
    -webkit-transition-timing-function:swing;
    -moz-transition-timing-function:swing;
    transition-timing-function:swing
}
.nav-toggle .icon:before,.nav-toggle .icon:after{
    width:30px;
    height:4px;
    background-color:#fff;
    border-radius:2px;
    content:"";
    position:absolute;
    left:0;
    -webkit-transition-duration:.5s;
    -moz-transition-duration:.5s;
    transition-duration:.5s;
    -webkit-transition-timing-function:swing;
    -moz-transition-timing-function:swing;
    transition-timing-function:swing
}
.nav-toggle .icon:before{
    top:-9px
}
.nav-toggle .icon:after{
    top:9px
}
body.nav-open .overlay-nav{
    opacity:1;
    z-index:1002;
    width:70vw;
    -webkit-transition:opacity 1s ease;
    -moz-transition:opacity 1s ease;
    transition:opacity 1s ease
}
@media (min-width:61.25em){
    body.nav-open .overlay-nav{
        z-index:0
    }
}
body.nav-open .nav{
    -webkit-transform:translateY(0);
    -moz-transform:translateY(0);
    -ms-transform:translateY(0);
    -o-transform:translateY(0);
    transform:translateY(0)
}
body.nav-open .nav-toggle{
    box-shadow:none
}
body.nav-open .nav-toggle:before{
    width:6000px;
    height:6000px;
    background-color:#4b2b5b
}
body.nav-open .nav-toggle .icon{
    width:0
}
body.nav-open .nav-toggle .icon:before{
    -webkit-transform:translateY(9px) rotate(45deg);
    -moz-transform:translateY(9px) rotate(45deg);
    -ms-transform:translateY(9px) rotate(45deg);
    -o-transform:translateY(9px) rotate(45deg);
    transform:translateY(9px) rotate(45deg)
}
body.nav-open .nav-toggle .icon:after{
    -webkit-transform:translateY(-9px) rotate(-45deg);
    -moz-transform:translateY(-9px) rotate(-45deg);
    -ms-transform:translateY(-9px) rotate(-45deg);
    -o-transform:translateY(-9px) rotate(-45deg);
    transform:translateY(-9px) rotate(-45deg)
}
#onpage-nav.page-nav-scrolled{
    position:fixed;
    width:100%;
    top:0
}
.box-alert{
    border:1px solid #ff1500;
    background-color:rgba(76,7,7,.5)
}
.fullywide{
    width:100%!important
}
.collapse{
    display:none
}
input[type="text"]:disabled{
    background-color:#e9ecef!important;
    cursor:not-allowed!important
}
button:disabled{
    background-color:#e9ecef!important;
    cursor:not-allowed!important
}
#download_info{
    margin-top:3%;
    margin-bottom:3%
}
.at-custom-sidebar-counter{
    background-color:#721477;
    color:#fff!important
}
.at-custom-sidebar-counter:hover{
    background-color:#9d1f8c;
    color:#fff!important
}
.item{
    border-bottom:1px solid #0ec0f5;
    border-radius:5px;
    padding:3px;
    width:100%;
    overflow:hidden;
    height:33px;
    margin-top:3px;
    cursor: pointer;
}
.item .progress{
    width:5%;
    float:left;
    text-align:center
}
.item .title{
    width:73%;
    float:left
}
.item .action{
    width:22%;
    float:right;
    text-align:right;
    padding-right:3px
}
.item .action .done{
    background-image: -webkit-linear-gradient(-45deg, #ff000000 40%, #00ff4e75 0%);
    padding-right:6px
}
.item .action .error{
    background-image: -webkit-linear-gradient(-45deg, #ff000000 50%, #ff000075 0%);
    padding-right:6px
}
.item:hover{
    background: #ff000075
}
.ready:hover{
    cursor:default;
    background: #00ff4e75;
    border-color:#721477
}
.invalid_url{
    color:red;
    text-align:center
}
.navigation_button{
    text-align:center;
    border-top:1px solid #0ec0f5;
    border-radius:20px;
    margin-top:30px;
    margin-left:25%;
    margin-right:25%;
    margin-bottom:-5px;
    cursor:pointer
}
.downloads-info{
    border-bottom:1px solid #0ec0f5;
    border-radius:5px;
    padding:3px;
    width:100%;
    overflow:hidden;
    cursor:default
}
.downloads-info button{
    float:right;
    width:30%
}
.downloads-info #expand-download{
    float:right;
    cursor:pointer
}
.downloads-info #expanded-content{
    border-top:1px solid #0ec0f5;
    border-radius:5px;
    padding-top:10px
}
.donation{
    float:right;
    position:fixed;
    bottom:1px;
    right:5%;
    border-top:1px solid #0ec0f5;
    border-top-right-radius:20px;
    border-top-left-radius:20px;
    font-size:15px;
    width:15%;
    text-align:center;
    color:#fff;
    z-index:1000;
    background-color: #5c5de71f
}

@media only screen and (max-width: 768px) {
   .donation{
		width: 39%;
		bottom: 6.5%;
   }
   .hide-mobile {
	   display:none;
   }
   #showcase-content .downloads {
	   top:70px;
   }
   .box{
        width:100%!important;
		max-height: 450px;
    }
	#music-player {
		position: fixed;
		left: 0px;
		top: 0px;
		background-color: #000000eb;
	}
}

.player-control i:hover{
    color:#721477
}
#audio_player{
    display:none
}
.ready_to_play{
    cursor:pointer
}
.player-control i{
    cursor:pointer;
    margin-left:3px;
    margin-right:3px
}
.player_song_title{
    font-size:12px;
    max-width:50%;
    padding-left:10px;
    padding-right:10px
}
#search_results {
	display:none;
}
#modal-download a{
	color: #000;
    text-align: center;
    padding: 40%;
    font-size: 25px;
}